<app-nenu-title></app-nenu-title>

<div class="articles-container">
    <div class="articles-main">
        <app-big-card
            Id="1"
            photoCover='https://image.api.playstation.com/vulcan/ap/rnd/202110/2000/aGhopp3MHppi7kooGE2Dtt8C.png'
            cardTitle="Pré-venda do DLC de Elden Ring é iniciada na PS Store"
            cardDescription="Por R$199,50, pré-venda do DLC de Elden Ring é liberada na PS Store. Veja as demais edições clicando aqui!"
        >
        </app-big-card> 
    </div>
    <div class="articles-others">
        <app-small-card
            Id="2"
            photoCover="https://assetsio.reedpopcdn.com/Sekiro-2_g25WQoq.jpg?width=1200&height=1200&fit=bounds&quality=70&format=jpg&auto=webp"
            cardTitle="Sekiro: Shadows Die Twice ultrapassa os 10 milhões de vendas"
        >
        </app-small-card>
        <app-small-card
            Id="3"
            photoCover="https://image.api.playstation.com/cdn/UP9000/CUSA00900_00/b5uuNMulpxnRpWZDG7lPexwMY7i9Pns7.png"
            cardTitle="Diretor de Bloodborne evita falar sobre possível remake"
        >
        </app-small-card>
        <app-small-card
            Id="4"
            photoCover="https://image.api.playstation.com/vulcan/img/rnd/202011/1717/GemRaOZaCMhGxQ9dRhnQQyT5.png"
            cardTitle="Demon's Souls: Dicas e segredos para morrer menos"
        >
        </app-small-card>
    </div>
</div>


